#####
##### General
#####

NODE_ENV=development
USER_AGENT="Podverse Bot Local/QA/5" # in prod change to "Podverse Bot/QA/5", in alpha change to "Podverse Bot Alpha/QA/5", etc.

#####
##### Logs
#####

LOG_LEVEL=info
LOG_DIR=
LOG_TIMER=true

#####
##### Postgres
#####

DB_HOST=localhost
DB_PORT=5432
DB_READ_USERNAME=read
DB_READ_PASSWORD=your_read_password
DB_READ_WRITE_USERNAME=user
DB_READ_WRITE_PASSWORD=mysecretpw
DB_DATABASE=postgres
DB_SSL_CONNECTION=
