#####
##### Postgres
#####

DB_HOST=localhost
DB_PORT=5432
DB_READ_USERNAME=read
DB_READ_PASSWORD=your_read_password
DB_READ_WRITE_USERNAME=user
DB_READ_WRITE_PASSWORD=mysecretpw
DB_DATABASE=postgres
DB_SSL_CONNECTION=