#####
##### General
#####

NODE_ENV=development
USER_AGENT="Podverse Bot Local/QA/5" # in prod change to "Podverse Bot/QA/5", in alpha change to "Podverse Bot Alpha/QA/5", etc.

#####
##### Logs
#####

LOG_LEVEL=info
LOG_DIR=
LOG_TIMER=true

#####
##### Postgres
#####

DB_HOST=localhost
DB_PORT=5432
DB_READ_USERNAME=read
DB_READ_PASSWORD=your_read_password
DB_READ_WRITE_USERNAME=user
DB_READ_WRITE_PASSWORD=mysecretpw
DB_DATABASE=postgres
DB_SSL_CONNECTION=

#####
##### Podcast Index
#####

PODCAST_INDEX_BASE_URL=https://api.podcastindex.org/api/1.0
PODCAST_INDEX_AUTH_KEY=
PODCAST_INDEX_SECRET_KEY=
# Optional: Delay in milliseconds between Podcast Index API requests in the parser's remote item handling
# Default is 200ms if not specified. Set to 0 to disable.
PODCAST_INDEX_API_RATE_LIMIT_DELAY=200

#####
##### Google / FCM
#####
### We use FCM to send push notifications.

# Set as absolute path
FIREBASE_PATH_TO_AUTH_JSON=

#####
##### Parser
#####

# When true, the parser will add remote items to the message queue for processing.
# The parser will recursively follow all remote items, and their remote items, until it runs out.
# If a feed is already in the database, it will not add a message for that remote item feed to the queue.
PARSER_ADD_REMOTE_ITEMS_TO_MQ=
